/* CSS Document */

h1 {position: relative;}
#circle {float: right; font-size: 12px; cursor:pointer;}
#ProgressStatus {position: absolute; z-index: 2; right: 21px; font-size: 6px; font-weight: bold;}

#LoadError, #LoadErrorTimeout, #LoadPageError {display: none;}
#LoadError {position: absolute; z-index: 2; top: 0; right: 0;}
#LoadError i {display: inline-block; margin-right: 5px;}

.overview {
/*  table-layout: fixed; */
  width: 100%;
  white-space: nowrap;
}

.overview td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

overview td:nth-child(1) {  
 width: 20px;
}

.statistics_table {
  table-layout: fixed; 
  width: 100%;
  white-space: nowrap;
}

.graph_table {
  table-layout: fixed; 
  width: 100%;
  white-space: nowrap;
}

.statistics_table td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align:left;
}

.graph_table td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align:center;
}

.statistics_table td:nth-child(2) {
  text-align:center;
}

.graph_table td:nth-child(2) {
  text-align:left;
}

.statistics_table td img, .graph_table td img {
	margin-right:10px;
}
/* Column widths are based on these cells */
.row-counter {
  width: 4%;
}
.row-time {
  width: 8%;
}
.row-user {
  width: 10%;
}
.row-module {
  width: 20%;
}
.row-country {
  width: 14%;
}
.row-host {
  width: 14%;
}
.row-ip {
  width: 14%;
}

/* Module */
.row-module {
  width: 28%;
}
.row-views {
  width: 10%;
}
.row-total {
  width: 17%;
}
.row-graph {
  width: 45%;
}
.row-graph span a{
  color: #fff;
}

.fa-arrow-up, .fa-arrow-down, .fa-circle {float:right; color:#fff; padding: 0 2px;}

#act-arrow {color:#CECECE;}

/* Extension details */
.requirements_title {
    display: inline-block;
    color: #115098;
    font-weight: bold;
    vertical-align: top;
    margin-top: 8px;
    font-size: 1.1em;
}
.requirements_bubble {
    display: inline-block;
    overflow: hidden;
    border-radius: 15px;
    border: 1px solid #D7D7D7;
    margin-left: 20px;
}
.requirements_name {
    display: inline-block;
    padding: 7px 15px;
}
.requirements_value {
    display: inline-block;
    padding: 6px 15px;
    border-radius: 15px;
    color: #edfbf7;
    font-weight: bold;
    font-size: 1.1em;
    background: #75a875;
    background: -moz-linear-gradient(top, #92d992 0%, #228822 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #92d992), color-stop(100%, #228822));
    background: -webkit-linear-gradient(top, #92d992 0%, #228822 100%);
    background: -o-linear-gradient(top, #92d992 0%, #228822 100%);
    background: -ms-linear-gradient(top, #92d992 0%, #228822 100%);
    background: linear-gradient(to bottom, #92d992 0%, #228822 100%);
}
.requirements_value_not_met {
    display: inline-block;
    padding: 6px 15px;
    border-radius: 15px;
    color: #edfbf7;
    font-weight: bold;
    font-size: 1.1em;
    background: #BC2A4D;
    background: -moz-linear-gradient(top, #e08389 0%, #BC2A4D 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e08389), color-stop(100%, #BC2A4D));
    background: -webkit-linear-gradient(top, #e08389 0%, #BC2A4D 100%);
    background: -o-linear-gradient(top, #e08389 0%, #BC2A4D 100%);
    background: -ms-linear-gradient(top, #e08389 0%, #BC2A4D 100%);
    background: linear-gradient(to bottom, #e08389 0%, #BC2A4D 100%);
}
.description_bubble {
    display: inline-block;
    overflow: hidden;
    border-radius: 15px;
    border: 1px solid #D7D7D7;
    margin-right: 20px;
    text-align: center;
}
.description_name {
    display: inline-block;
    padding: 7px 15px;
}
.description_value {
    display: inline-block;
    padding: 6px 15px;
    border-left: 1px solid #D7D7D7;
    font-weight: bold;
    font-size: 1.1em;
}
.description_value_ok {
    display: inline-block;
    padding: 6px 15px;
    border: 0;
    border-radius: 15px;
    color: #edfbf7;
    font-weight: bold;
    font-size: 1.1em;
    background: #228822;
    background: -moz-linear-gradient(top, #92d992 0%, #228822 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #92d992), color-stop(100%, #228822));
    background: -webkit-linear-gradient(top, #92d992 0%, #228822 100%);
    background: -o-linear-gradient(top, #92d992 0%, #228822 100%);
    background: -ms-linear-gradient(top, #92d992 0%, #228822 100%);
    background: linear-gradient(to bottom, #92d992 0%, #228822 100%);
}
.description_value_old {
    display: inline-block;
    padding: 6px 15px;
    border: 0;
    border-radius: 15px;
    color: #edfbf7;
    font-weight: bold;
    font-size: 1.1em;
    background: #BC2A4D;
    background: -moz-linear-gradient(top, #e08389 0%, #BC2A4D 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e08389), color-stop(100%, #BC2A4D));
    background: -webkit-linear-gradient(top, #e08389 0%, #BC2A4D 100%);
    background: -o-linear-gradient(top, #e08389 0%, #BC2A4D 100%);
    background: -ms-linear-gradient(top, #e08389 0%, #BC2A4D 100%);
    background: linear-gradient(to bottom, #e08389 0%, #BC2A4D 100%);
}
fieldset {
    border-radius: 15px;
}
h1.ExtensionName {
    color: #115098;
}
.big_bubble .description_name {
    width: 90px;
}
.big_bubble .description_value {
    width: 200px;
}
.small_bubble .description_name {
    width: 70px;
}
.small_bubble .description_value {
    width: 80px;
}
.extension_author {
    display: inline-block;
    overflow: hidden;
    border-radius: 15px;
    margin-left: 25px;
    text-align: center;
    font-size: 1.1em;
}
.extension_author_name {
    display: inline-block;
    padding: 5px 15px;
}
.extension_author_link {
    display: inline-block;
    padding: 6px 15px;
    border-radius: 15px;
    font-weight: bold;
    font-size: 1.1em;
    border: 1px solid #D7D7D7;
}
.extension_author_link:hover {
    background-color: #115098;
    color: #edfbf7;
    border: 1px solid #115098;
}
.extension_latest_version_wrapper {
    display: inline-block;
    overflow: hidden;
    border-radius: 15px;
    margin-left: 5px;
    text-align: center;
    font-size: 1.1em;
}
.extension_latest_version {
    display: inline-block;
    padding: 5px 15px;
}
